__pycache__/
*.pyc
.env
.venv/
venv/
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# Power BI 暫存
*.tmp

# GitHub 單檔限制 100MB；完整版資料建議本機保存或用 Git LFS
# data/Coffee_Shop_Enterprise_Features_Corrected.csv

data/Coffee_Shop_Enterprise_Features_Corrected.csv
data/Coffee Shop Sales_RAW.csv
